.button section-items{
  width: 80%;
}


.button:link,
.button:visited {
  display: block;
  text-decoration: none;

  /*color: #FFF;*/
  /*  background-color: #5995DA;*/
  background-color: #004d99; /*#2251dd;*/
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, .1);

  padding: 20px;
  /*text-align: center;*/
  border-radius: 8px;
  width: 90%;

  margin: 20px auto;
}


.button:hover,
.button:visited:hover {
  /*background-color: #AEC186;*/
  background-color: #B8D8D8;
  color:   black;/* #333300;*/
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}

.opt_out {
  background-color: red;
}
