input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;

}

input[type=button], input[type=submit]{
   /*background-color: #6B8E23; Color: Green */
   background-color: #5995DA;
   border: none;
   color: white;
   padding: 16px 32px;
   border-radius: 8px;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover{
  background-color: #AEC186;
  color: #333300;
}
