/* Mobile Styles */
@media only screen and (max-width: 500px) {
  body {
    margin-top: 20%;

  }

  h1 {
    font-size: 2em;
  }

  .flex-column {
    width: 200px;
  }

  .content .flex-item {
    margin: -10px 0px;
  }
/*
  .expandable .flex-item {
    margin: -8px 0px;
  }
*/


  .flex-item {
    width: 100%;
  }

  .menu {
    flex-direction: column;
    padding: 10px 0px;
    right: 0px;

  }

  .content {
    background-color: rbga(0,0,0,0);
  }

  .menu-button {
    margin: 20px 0px;
  }

  .content{
    right: 20px;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 501px ) and (max-width: 960px) {



  .menu {
    width: 100%;
    margin-left: inherit;
    margin-right: inherit;


  }


  .content{
    width: 85%;
    right: 0px;
  }


  .flex-column {
    width: 80%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


  .flex-column {
    width: 80%;
  }

  .menu {
    width: 430px;
  }
  .content{
    width: 450px;
    right: 0px;
  }

  h3::before, h3::after{
    content: "ยง";
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 0 .7em;
    font-size: 1em;*/
  }

}
