* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

html {
  height:100%;
  width:100%;
  /*overflow-y: scroll;*/
  overflow: auto;

  /*background: #7FFFD4;  Old Browsers
  background: -webkit-linear-gradient(left,#7FFFD4,#f2efe0); /*Safari 5.1-6*/
  /*background: -o-linear-gradient(left,#7FFFD4,#f2efe0); /*Opera 11.1-12*/
  /*background: -moz-linear-gradient(left,#7FFFD4,#f2efe0); /*Fx 3.6-15*/
  /*background: linear-gradient(to left, #7FFFD4, #f2efe0); /*Standard*/
  background: linear-gradient(to left, #406E8E, #8EA8C3); /*Standard*/

  margin-bottom: 8%;
  /*font-family: 'EB Garamond', serif;*/
  font-family: 'Mukta Malar', sans-serif;

}

body {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 8%;

  /* text-align: center; */
  width: 60%;
  height: 100%;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'EB Garamond', serif;*/
  font-family: 'Mukta Malar', sans-serif;
  font-weight: normal;
}

header {
  text-align: center;
}


h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, .3);
  margin: 25px 0px;
  color: white; 	/*#8B0000;*/
}

h3 {
  font-size: 1.3em;
  margin: 10px 0px:
  width: 400px;
  color: white;

}


ul:hover {
  background: #556b2f;
}


.teachers ul {
  list-style-type: none;
  margin: 20px 0px;
  background:  #38471f;
  border-radius: 10px;
}

.teachers ul:hover {
  background: #556b2f;
}

/* Flaired edges, by Tomas Theunissen */
hr.style1 {
  margin-top: 40px;
  overflow: visible;
  /* For IE */ height: 30px;
  border-style: solid;
  border-color:   black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style1:before { /* Not really supposed to work, but does */
  display: block; content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

hr. style2 {
   margin: 20px 0;
   clear: both;
   visibility: hidden;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}


a {
  text-decoration: none; /* Removes underline from links */
  display: block;
  color: White;
  margin: 3px 0px;
}

p {
  margin: 20px 0px;
}

.menu-button {
  padding: 5px 5px;
}

.menu-button:hover {
  border-radius: 8px;
  background: #DDA0DD;
  color: rgb(148, 0, 211);

}
