<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}
<div class="flex-item flex-column">
  <header>
    <h1>PTC</h1>
    <h2>Staff Login</h2>
  </header>
</div>

{% include "Cover/menu.html" %}

<div class="flex-item content">
  <form action="" method="post" name="login">
    {{ form.hidden_tag() }}

    <h2>Only for access to student or adminstrator tools</h2>

    <p>
      Username:
      {{ form.username(size=80) }}
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>

    <p>
      Password:
      {{ form.password(size=80) }}
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p><input type="submit" value="Login"></p>
  </form>
</div>

{% endblock %}
