<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}
<!-- Continued from base -->
    <h3>Staff Login</h3>
  </header>
</div>

{% include "Cover/menu.html" %}

<div class="flex-item content">
  <form action="" method="post" name="login">
    {{ form.hidden_tag() }}

    <p>Only for access to student or adminstrator tools</p>

    <p>
      Username:
      {{ form.username(size=80) }}
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>

    <p>
      Password:
      {{ form.username(size=80) }}
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p><input type="submit" value="Login"></p>
  </form>
</div>

{% endblock %}
