<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}

<!-- Continued from base -->
    <h3>Your Id</h3>
  </header>
</div>

{% include "Cover/menu.html" %}

<div class="content">
  <p>Your id is: </p>
  <p>{{parent_id}}</p>
  <p>If at any point you forget your ID, feel free to look it up with the parent search function.</p>
  <p>Additionally, as you sign up for teachers, an approximated schedule will be generated for you based on the average time each teacher takes to meet with parents.</p>
</div>
{% endblock %}
