<!-- extend base layout -->
{% extends "Cover/base.html" %}


{% block content %}

<!-- Continued from base -->
    <h3>Parent Home</h3>
  </header>
</div>

{% include "Cover/menu.html" %}

<div class="content flex-column">
  <div class="flex-item">
    <a href="parent_search" class="button">ID Look-up</a>
  </div>
  <div class="flex-item">
    <a href="register" class="button">Register</a>
  </div>
  <div class="flex-item">
    <a href="parent_schedules" class="button">Schedules</a>
  </div>
</div>
{% endblock %}
