<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}
<div class="flex-item">
  <header>
  <h1>Parent Registration</h1>
  {% include "Cover/menu.html" %}
</header>
</div>

<div class="flex-item content">
  <form action="" method="post" name="register">
    {{ form.hidden_tag() }}
    <p>
      Please enter your child's name:<br>
      {{ form.child_name(size=80) }}<br>
      {% for error in form.child_name.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      Please enter your child's date of birth:<br>
      (This should take the form month/day/year, ex: 5/17/2000).<br>
      {{ form.child_dob(size=80) }}<br>
      {% for error in form.child_dob.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <!--
    <p>
      Please enter your email address: (Optional)<br>
      {#    {{ form.email(size=64) }}<br>
           {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <p>Supplying your email will register you for notifications about upcoming appointments with teachers.</p>

    </p>
     #}
  -->
    <p>{{ form.submit() }}</p>
  </form>
</div>
{% endblock %}
