<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}

<!-- Continued from base -->
    <h3>Parent Registration</h3>
  </header>
</div>

{% include "Cover/menu.html" %}
<div class="flex-item content">
  <form action="" method="post" name="register">
    {{ form.hidden_tag() }}
    <p>
      Please enter your child's name:<br>
      <input id="child_name" name="child_name" size="80" type="text" placeholder="ex: Tom Sawyer">
      {% for error in form.child_name.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      Please enter your child's date of birth:
      <input id="child_dob" name="child_dob" size="80" type="text" placeholder="ex: 5/17/2000">
      {% for error in form.child_dob.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <!--
    <p>
    Please enter your email address: (Optional)<br>
    {#    {{ form.email(size=64) }}<br>
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <p>Supplying your email will register you for notifications about upcoming appointments with teachers.</p>

  </p>
  #}
-->
<p>{{ form.submit() }}</p>
</form>
</div>
{% endblock %}
