<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset='UTF-8' />
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <link rel="stylesheet" href="/static/css/button.css" type="text/css">
  <link rel="shortcut icon" href="/static/img/stuy.ico" type="image/x-icon" >
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <script src="/static/scripts/scripts.js"></script>
</head>
<body>
  <div class="flex-container">
    {% block content %}{% endblock %}

  </div>
</body>
</html>
