<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}

<header>
  <h1>Stuyvesant High School</h1>
  <h3>Parent Teacher Conferences</h3>
</header>

<hr>

<div class="flex-item">
  <a href="teacher_search" class="button">Search</a>
  <p> Teacher room registry </p>
</div>

<div class="section-container">
  <div class="section-item">
    <a href="parent" class="button" >Parents</a>
    <p>Access the parent portal.</p>
  </div>
  <div class="section-item">
    <a href="login" class="button" >Staff</a>
    <p>Access for staff resources.</p>
  </div>
</div>

<div class="statistics">
  <a href="database" class="button">Statistics</a>
</div>
{% endblock %}
