.flex-column {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  margin-left: auto;
  margin-right: auto;
  /* text-align: left; */

  /*overflow: hidden;*/
}


.flex-item {
  display: flex;
  flex: 1;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  width: 100%;
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap
  padding: 60%;
  align-items: center;
}


.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*flex-wrap: wrap*/
  margin: 25px 0px;
  padding: 0px 0px;


  position: relative;
  margin-left: auto;
  margin-right: auto;

  background: rgba(148, 0, 211, 0.6);
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;

  border-radius: 10px;
  box-shadow: 0 0 0 4px #00264d, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);

  text-shadow: 1px 1px #aa3030;
  /*flex: 34;*/
  border-radius: 10px;
}

.content {
  display: flex;
  flex: 7;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: auto;

  /*height: 200px;*/



  position: relative;
  right: 15px;

  padding: 20px;
  margin: auto;


  background: rgba(0, 38, 77, 0.6);
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;

  border-radius: 10px;
  box-shadow: 0 0 0 4px #00264d, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  /*text-shadow: -1px -1px #aa3030;*/
  font-weight: normal;
}
