.flex-column {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;


  margin-left: auto;
  margin-right: auto;
  /* text-align: left; */
}


.flex-item {
  display: flex;
  flex: 1;
  justify-content: space-around;
  text-align: center;
  margin: auto;
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap
  padding: 60%;
  align-items: center;
}


.menu {
  display: flex;
  flex: 34;
}

.content {
  display: flex;
  flex: 7;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: auto;

  position: relative;
  right: 15px;

  padding: 20px;
  margin: auto;


  background: rgba(0, 38, 77, 0.6);
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;

  border-radius: 10px;
  box-shadow: 0 0 0 4px #00264d, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  text-shadow: -1px -1px #aa3030;
  font-weight: normal;
}
