input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit]{
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 16px 32px;
   border-radius: 20px;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
}
