/* Mobile Styles */
@media only screen and (max-width: 500px) {
  body {
    margin-top: 18%;

  }

  .flex-column {
    width: 200px;
  }

  .expandable {
    flex-direction: column;
    flex: 2;
  }


  .flex-item {
    width: 100%;
  }

  .menu {
    flex-direction: column;
    padding: 20px 0px;

  }

  .menu-button {
    margin: 20px 0px;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 501px ) and (max-width: 960px) {

  .menu {
    width: 430px;
    margin-left: inherit;
    margin-right: inherit;


  }

.flex-column {
  width: 80%;
}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


.flex-column {
  width: 80%;
}

.menu {
  width: 430px;
}
.content{
  width: 450px;
  right: 0px;
}


}
