/* Mobile Styles */
@media only screen and (max-width: 500px) {
  /*
  body {
  background-color: #F09A9D; /* Red */
  /*
}

*/

.expandable {
  flex-direction: column;
}

.flex-item {
  width: 100%;
}

}

.button{
  width: 35%;
}


/* Desktop Styles */
@media only screen and (min-width: 501px) {
  /*
  body {
  background-color: #B2D6FF; /* Blue */
  /*
}

*/
.button{
  width: 35%;
}
}
