body
{ 
background: linear-gradient(28deg, #1cd4aa, #b5c700, #3170c0, #ed866a);
background-size: 800% 800%;
-webkit-animation: AnimationName 36s ease infinite;
-moz-animation: AnimationName 36s ease infinite;
-o-animation: AnimationName 36s ease infinite;
animation: AnimationName 36s ease infinite;
}

.button {border-radius: 12px;}


@-webkit-keyframes AnimationName 
{
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}

@-moz-keyframes AnimationName 
{
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}

@-o-keyframes AnimationName 
{
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}

@keyframes AnimationName 
{
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}
