* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

html {
  height:100%;
  width:100%;
  /*overflow-y: scroll;*/
  overflow: auto;

  background: #7FFFD4;  Old Browsers
  background: -webkit-linear-gradient(left,#7FFFD4,#f2efe0); /*Safari 5.1-6*/
  background: -o-linear-gradient(left,#7FFFD4,#f2efe0); /*Opera 11.1-12*/
  background: -moz-linear-gradient(left,#7FFFD4,#f2efe0); /*Fx 3.6-15*/
  background: linear-gradient(to left, #7FFFD4, #f2efe0); /*Standard*/

margin-bottom: 8%;
}

body {
  margin: auto;
  margin-top: 8%;
  margin-bottom: 8%;

  /* text-align: center; */
  width: 60%;
  height: 100%;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond', serif;
  font-weight: normal;
}

header {
  text-align: center;
}

h1 {
  font-family:  cursive;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, .1);
  margin: 25px 0px;
}

h3 {
  /*font-size: 2em;*/
  margin: 10px 0px:
  width: 400px;

}


ul {
  list-style-type: none;
  margin: 20px 0px;
  background:  #38471f;
  border-radius: 10px;
}

ul:hover {
  background: #556b2f;
}

a {
  text-decoration: none; /* Removes underline from links */
  display: block;
  color: White;
  margin: 3px 0px;
}

p {
  margin: 20px 0px;
}

.menu-button {
    padding: 5px 5px;
}

.menu-button:hover {
  border-radius: 20px;
  background: #DDA0DD;

}

hr{
  height: 8%;
  border:none;

}
