* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

html {
  height:100%;
  width:100%;
  /*overflow-y: scroll;*/
  overflow: auto;

  background: #62f4ff;  Old Browsers
  background: -webkit-linear-gradient(top,#62f4ff,#f2efe0); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,#62f4ff,#f2efe0); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,#62f4ff,#f2efe0); /*Fx 3.6-15*/
  background: linear-gradient(to left, #62f4ff, #f2efe0); /*Standard*/

margin-bottom: 8%;
}

body {
  margin: auto;
  margin-top: 8%;
  margin-bottom: 8%;

  /* text-align: center; */
  width: 60%;
  height: 100%;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

header {
  text-align: center;
}

h1 {

  margin: 25px 0px;
}

h3 {
  /*font-size: 2em;*/
  margin: 10px 0px:
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none; /* Removes underline from links */
  display: block;
}


hr{
  height: 8%;
  border:none;
}
