<!-- extend base layout -->
{% extends "Cover/base.html" %}


{% block content %}

<!-- Continued from base -->
    <h3>Parent Home</h3>
  </header>
</div>

<hr class="style2">


<div class="content flex-text">

  <p> Register as a parent. </p>

  <hr class="style3">


  <div class="flex-item flex-text">
    <a href="register" class="button">Register</a>

    <p> Find your estimated meeting times. </p>
  </div>

  <hr class="style3">

  <div class="flex-item flex-text">
    <a href="parent_schedules" class="button">Schedules</a>

    <p> Forgot your ID? </p>
  </div>

  <hr class="style3">

  <div class="flex-item flex-text">
    <a href="parent_search" class="button">ID Look-up</a>

    <p> Find out where your next teacher is. </p>
  </div>

  <hr class="style3">

  <div class="flex-item flex-text">
    <a href="teacher_search" class="button">Locations</a>

  </div>


</div>
{% endblock %}
