<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}

<!-- Continued from base -->
    <h3>{{parent.parent_name}}</h3>
  </header>
</div>

<div class="flex-item flex-column">
<p>Note that the estimated times may be inaccurate within 10 min.</p>
<p>  Please show up 15 min. before your expected time.</p>

</div>

<div class="flex-item flex-column">

        {% if parent.ptqueues != [] %}

        <div class="flex-item flex-row">
                <div class="flex-item">Teacher</div>
                <div class="flex-item">Position</div>
                <div class="flex-item">Room</div>
                <div class="flex-item">Time</div>

        </div>
        {% endif %}


<hr>
        {% if parent.ptqueues == [] %}

                <div class="flex--itemlist ">
                        You have not yet been signed up for any wait lists.
                </div>

        {% endif %}



  {% for t in parent.ptqueues %}

      <ul><a href="/teacher/{{t.id}}">
        <div class="flex-item flex-row list">
          <div class="flex-item">
            {{t.teacher}}
          </div>
          <div class="flex-item">
            {{t.get_parent_position(t, parent)}}
          </div>
          <div class="flex-item">
            {{t.room}}
          </div>
          <div class="flex-item">
            {{t.get_parent_time(t, parent)}}
          </div>
        </div>
        </a>
      </ul>
  {% endfor %}



</div>





{% endblock %}
