<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}

<!-- Continued from base -->
    <h3>Parent Schedules</h3>
  </header>
</div>

{% include "Cover/menu.html" %}

<div class="flex-item content">

  <p> Please enter your ID to access your schedule. </p>

  <form action="" method="post" name="parent_query">
    {{ form.hidden_tag() }}
    <p>
      {{ form.search_field(size=20) }}
      {% for error in form.search_field.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>

  <p> If you are unfamiliar with your ID, feel free to use the search function.</p>
</div>
{% endblock %}
