<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}

<!-- Continued from base -->
    <h3>Parent ID Search</h3>
  </header>
</div>

<div class="flex-item flex-column teachers">
  {% if parents == [] %}
  <p>Should you forget your ID number, this tool will allow you to quickly find it.</p>
  <p>Please search by your child's name or date of birth.</p>
  {% else %}
  <p>Click on the result for more information!</p>
  {% endif %}

  <form action="" method="post" name="parent_query">
    {{ form.hidden_tag() }}
    <p>
      <input id="search_field" name="search_field" size="20" type="text" placeholder="Search...">
      {% for error in form.search_field.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p><input type="submit" value="Submit!"></p>
  </form>

  <!--<h1>Search results for "{{ query }}":</h1>-->
  {% for p in parents %}
  <ul>
    <div class="flex-row">
      <div class="flex-item">
        <a href="parent/{{p.id}}">{{p.child_name}}
      </div>
      <div class="flex-item">
        <p>DoB: {{p.child_dob}}</p><p>ID Number: {{p.id}}</p></a>
      </div>
    </div>
  </ul>
  {% endfor %}
</div>

{% endblock %}
