<!-- extend base layout -->
{% extends "Cover/base.html" %}


{% block content %}

<!-- Continued from base -->
    <h3>Parent Home</h3>
  </header>
</div>

<hr class="style2">


  <div class="flex-item flex-text">
    <a href="register" class="button">Register for an ID</a>
  </div>


  <div class="flex-item flex-text">
    <a href="parent_schedules" class="button">Estimated Parent Schedules</a>
  </div>


  <div class="flex-item flex-text">
    <a href="parent_search" class="button">ID Look-up</a>
  </div>


  <div class="flex-item flex-text">
    <a href="teacher_search" class="button">Teacher Locations</a>
  </div>


</div>
{% endblock %}
