<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}

<!-- Continued from base -->
    <h3>{{parent.child_name}}</h3>
  </header>
</div>

<div class="flex-item content">

  {% for t in parent.ptqueues %}
      <ul>
        <div class="flex-row">
          <div class="flex-item">
            <a href="teacher/{{t.id}}">{{t.teacher}}
          </div>
          <div class="flex-item">
            <p>Estimated Time: It's now or never</p></a>
          </div>
        </div>
      </ul>
  {% endfor %}
</div>

{% endblock %}
