<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}
	<h3> Student Home </h3>
</header>

<hr>
<br>
<h4> If a parent does not have an ID, <a href="/register" style="display: inline; color:blue;">register</a> them.</h4>
<h4> If a parent refuses to make an ID, use 1 as a placeholder. </h4>
<h4> This allows others to see their position in line. </h4>
<br>
<hr>

<div class="flex-item flex-text">
  <a href="teacher_search" class="button">Teachers</a>
</div>

<div class="flex-item flex-text">
  <a href="/parent_search" class="button">Parent ID Search</a>
</div>

<div class="flex-item flex-text">
  <a href="/register" class="button">Register</a>
</div>

<hr>
<br>
<h4>If you think something should be done to improve this system, <a href="https://docs.google.com/forms/d/e/1FAIpQLSclW_l_t6Kvh62TUKAwHDY3dJ1olbxmd5uPvRQie96v0J1ZMQ/viewform" style="display: inline; color:blue;"> let us know</a>.
  We are listening, and your feedback <em>will</em> affect future iterations. </h4>

<br>
<hr>
<br>
<h4>This system is designed to eventually replace paper. However, it will be used concurrent to the old system for the next few semesters until the site has proven to be reliable.</h4>
<br>
<hr>
<br>
<h2> Changes made: </h2>

<h4> Estimated time is a constant 3 min. </h4>
<h4> Parents may be removed out of order </h4>
<br>
<hr>
<br>

{% endblock %}
