<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% if current_user.name == "" %}
  current_user.name = "Guest"
{% endif %}

{% block content %}

<!-- Continued from base -->
    <h1>Stuyvesant High School</h1>
    <h3>Parent Teacher Conferences</h3>
  </header>
</div>
<hr class="style1">
<div class="flex-item flex-column">
  <div class="flex-item" >
    <a href="parent_home" class="button" >Parents</a>
  </div>
  <div class="flex-item">
    <a href="login" class="button" >Staff</a>
  </div>
</div>
  {% endblock %}
