<div class="navbar flex-row">
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">?</a>
    <div class="dropdown-content">
      <a href="/index">Front Page</a>
      <a href="/teacher_search">Teacher Search</a>
      {% if session['username'] == 'Station' or session['username'] == 'Student'%}
      <a href="/parent_search">Parent ID Search</a>
      {% endif %}
      {% if session['username'] != 'Teacher'%}
      <a href="/register">Register</a>
      {% endif %}
    </div>
  </li>
  {% if session['username'] == 'Student' %}
  <li class="flex-item Stuy" style="flex: 30;">
    <a href="/staff" class="dropbtn">{{session['username']}} Home</a>
  </li>
  {% elif  session['username'] == 'Teacher' %}
  <li class="flex-item Stuy" style="flex: 30;">
    <a href="/teacher_home" class="dropbtn">{{session['username']}} Home</a>
  </li>
  {% elif  session['username'] == 'Station' %}
  <li class="flex-item Stuy" style="flex: 30;">
    <a href="/station" class="dropbtn">{{session['username']}} Home</a>
  </li>
  {% else %}
  <li class="flex-item Stuy" style="flex: 30;">
    <a href="/parent_home" class="dropbtn">Home</a>
  </li>
  {% endif %}
  {% if session['username'] != 'Guest' %}
  <li class="flex-item logout">
    <a href="/logout" class="dropbtn">Logout</a>
  </li>
  {% else %}
  <li class="flex-item logout">
    <a href="/login" class="dropbtn">Login</a>
  </li>
  {% endif %}
</div>
