<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}

<!-- Continued from base -->
    <h1>{{teacher.teacher}}</h1>
  </header>
</div>

<div class="flex-item flex-row">

  <div class="flex-item">
    Rm. {{teacher.room}}
  </div>

  <div class="flex-item">
    Parents waiting: {{teacher.size(teacher)}}
  </div>
</div>

  <hr>



  {% if session["username"] == "student"%}
<div class="flex-item flex-row">
    

<div class="flex-item">
  <form action="/teacher/{{teacher.id}}" method="post" name="add_parent">
    {{ add_form.hidden_tag() }}
      <input name="add_field" size="20" type="text" placeholder="ID of joining parent">
      {% for error in add_form.add_field.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <input type="submit" value="Add Parent">
  </form>
</div>


<div class="flex-item">
  <form action="/teacher/{{teacher.id}}" method="post" name="rm_parent">
    {{ rm_form.hidden_tag() }}
      <input name="rm_field" size="20" type="text" placeholder="ID of leaving parent">
      {% for error in rm_form.rm_field.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <input type="submit" value="Remove Parent">
  </form>
</div>


</div>




  <hr>

  {% endif %}




<div class="flex-item flex-column">

	<div class="flex-item flex-row">
		<div class="flex-item">ID</div>

		<div class="flex-item">Parent	</div>
		<div class="flex-item">Time	</div>

	</div>


	<hr>

	{%if teacher.parents == [] %}

		<div class="flex--itemlist ">
			No Parents have signed up
		</div>

	{% endif %}


  {% for p in teacher.parents %}

      <ul><a href="/parent/{{p.id}}">
        <div class="flex-item flex-row list">
          <div class="flex-item">
            {{p.id}}
          </div>
          <div class="flex-item">
            {{p.parent_name}}
          </div>
          <div class="flex-item">
            {{p.child_dob}}
          </div>
        </div>
	</a>
      </ul>
  {% endfor %}

</div>

{% endblock %}
