<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}

<!-- Continued from base -->
    <h3>Teacher Queue Search</h3>
  </header>
</div>

{% include "Cover/menu.html" %}

<div class="flex-item content">

  {% if teachers == [] %}
  <p>Search teachers by name, department, or room number.</p>
  {% else %}
  <p>Click on the result for more information!</p>
  {% endif %}

  <form action="" method="post" name="teacher_query">
    {{ form.hidden_tag() }}
    <p>
      <input id="search_field" name="search_field" size="20" type="text" placeholder="Search...">
      {% for error in form.search_field.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p><input type="submit" value="Submit!"></p>
  </form>

  {% for t in teachers %}
  <ul><a href="teacher/{{t.id}}"><p>{{t.teacher}}</p><p>Room: {{t.room}} | {{t.size(t)}}</p></a></ul>
  {% endfor %}
</div>

{% endblock %}
