<!-- extend base layout -->
{% extends "Cover/base.html" %}

{% block content %}

<!-- Continued from base -->
    <h1>{{teacher.teacher}}</h1>
  </header>
</div>

<div class="flex-item flex-row">

  <div class="flex-item">
    Rm. {{teacher.room}}
  </div>

  <div class="flex-item">
    Parents waiting: {{teacher.size(teacher)}}
  </div>
</div>

  <hr>



  {% if session["username"] == "student"%}

  <form action="/teacher/{{teacher.id}}" method="post" name="add_parent">
    {{ add_form.hidden_tag() }}
    <p>
      <input id="search_field" name="search_field" size="20" type="text" placeholder="ID of joining parent">
      {% for error in add_form.search_field.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <div class="flex-item">
    <p><input type="submit" value="Add 'em'"></p>
  </div>
  </form>




  <hr>

  {% endif %}




<div class="flex-item content">


  {% for p in teacher.parents %}
      <ul>
        <div class="flex-row">
          <div class="flex-item">
            <a href="parent/{{p.id}}">{{p.parent_name}}
          </div>
          <div class="flex-item">
            <p>Estimated Time: {{p.child_dob}}</p></a>
          </div>
        </div>
      </ul>
  {% endfor %}

</div>

{% endblock %}
